<form> 

<div class="col-md-4">
<div class="col-md-6">
     <h4>Submit Goal</h4>

    <div class="funkyradio">
        <div class="funkyradio-default firstBut " [@fadeInBox] = "newVal" >
            <input type="radio" name="radio" id="radio1" />
            <label for="radio1" >Create goal</label>
        </div>
        <div class="funkyradio-default">
            <input type="radio" name="radio" id="radio2" checked/>
            <label for="radio2">Join weekly goal</label>
        </div>
       
    </div>
	<a href = "/login">tis </a>

	<button type="button" class="btn btn-outline-success btn-lg" >success </button>

</div>

</div>

</form>